.App {
  min-width: 100vw;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  text-align: center;
  /*background-color: #f7f7f9;*/
  background-color: #e5ede7;
  padding-bottom: 4vh;
}

.title-div {
  color: #28a745;
  padding-top: 2vh;
  margin-bottom: 2vh;
}

.title {
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}

.card {
  min-height: 85vh;
}
